<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Natural Language Processing App</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

  <!-- Header -->
    <header id="header">
      <div class="content">
        <div class="inner">
          <h1>Text Generation with NLP</h1>
          <div class="container">
            <form method="POST" action="/predict">
              <label >Enter Your Text Below</label>
              <textarea class="form-control" rows="3" name="rawtext"></textarea>
              <input type="submit" value="Submit" class="btn btn-primary ">
              <input type="reset" value="Clear" class="btn btn-outline-dark">
              <a href="{{ url_for('index')}}" class="button">Reset</a>
            </form>
          </div>
          <h5>Genrated text:</h5>
            <p style="color:#0091EA;font-family:sans-serif;">{{ prediction }}</p>
            <br/>
            <p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} </span> seconds to analyse</p>
        </div>
      </div>
    </header>

  <!-- Scripts -->
  <script src="js/scripts.js"></script>
  <script>
  function myFunction() {
      document.getElementById("myForm").reset();
  }
  </script>
</body>
</html>
